<div class="landing-page-component">

  <div class="main-wrapper">
    <section class="landing-intro">
      <div class="intro-left">
        <img src="/assets/images/budha.jpg" alt="Buddha Image" />
      </div>
      <div class="intro-right">
        <h2>Discover Healing: Your Path to Inner Peace Starts Here</h2>
        <p>
          At our therapy practice, we prioritize holistic approaches to mind healing, relationship management, and inner
          peace. We understand that true healing encompasses not only the mind but also the interconnectedness of our
          relationships and the depth of inner tranquility. Through personalized therapy sessions, we guide our clients
          towards understanding the intricacies of their thoughts and emotions, fostering healthier relationships with
          themselves and others.
        </p>

        <button class="session-button" (click)="navigate($event)">Start Your Wellbeing Journey</button>
      </div>
    </section>

    <h2 class="section-title">Types of Therapies We Offer</h2>
    <section class="services">
      <div class="service-card">
        <h3>Individual Therapy</h3>
        <p>Personalized support for anxiety, depression, and more.</p>
      </div>
      <div class="service-card">
        <h3>Couples Counseling</h3>
        <p>Helping partners communicate and connect better.</p>
      </div>
      <div class="service-card">
        <h3>Group Sessions</h3>
        <p>Supportive group environments for shared healing.</p>
      </div>
    </section>


    <h2 class="section-title">Reasons You Need Therapy</h2>
    <section class="therapy-reasons">
      <div class="reason-card">
        <h3>Emotional Stress</h3>
        <p class="reason-detail">Struggling with intense emotions such as sadness, anger, or anxiety can be
          overwhelming. Therapy can help you manage and understand these feelings, providing tools to cope and heal.</p>
      </div>
      <div class="reason-card">
        <h3>Work Pressure</h3>
        <p class="reason-detail">Managing a high-stress job can lead to burnout. Therapy provides techniques to balance
          work and mental health while improving productivity.</p>
      </div>
      <div class="reason-card">
        <h3>Relationship Issues</h3>
        <p class="reason-detail">Conflicts with loved ones can affect your well-being. Therapy improves communication,
          resolves issues, and strengthens connections.</p>
      </div>
      <div class="reason-card">
        <h3>Life Transitions</h3>
        <p class="reason-detail">Major changes like moving, career shifts, or becoming a parent can be overwhelming.
          Therapy offers support through these transitions.</p>
      </div>
      <div class="reason-card">
        <h3>Trauma and Grief</h3>
        <p class="reason-detail">Experiencing trauma or loss can have a profound impact on your mental health. Therapy
          offers a safe space to process these experiences, heal, and find ways to move forward.</p>
      </div>
      <div class="reason-card">
        <h3>Self-Esteem</h3>
        <p class="reason-detail">Struggling with low self-esteem or feelings of inadequacy can affect every aspect of
          your life. Therapy helps you build self-confidence and develop a more positive self-image.</p>
      </div>
      <div class="reason-card">
        <h3>Behavioral Issues</h3>
        <p class="reason-detail">Therapy helps address issues like substance abuse, disordered eating, or self-harm by
          offering healthier coping strategies.</p>
      </div>

      <div class="reason-card">
        <h3>Mental Health Conditions</h3>
        <p class="reason-detail">Therapy helps manage conditions like depression, anxiety, PTSD, or OCD to improve daily
          functioning and well-being.</p>
      </div>

      <div class="reason-card">
        <h3>Parenting Challenges</h3>
        <p class="reason-detail">Raising children can be both rewarding and stressful. Therapy can provide support,
          strategies, and guidance to help you navigate the complexities of parenting.</p>
      </div>

      <div class="reason-card">
        <h3>Personal Growth</h3>
        <p class="reason-detail"> Therapy isn't just for addressing problems. It's also a valuable tool for personal
          growth, self-discovery, and achieving your fullest potential. Therapy can help you explore your goals, values,
          and desires, leading to a more fulfilling life.</p>
      </div>

    </section>


    <!-- <section class="blog">
      <div class="blog-article">
        <img src="" alt="Article 1" />
        <p>5 Ways to Manage Anxiety</p>
      </div>
      <div class="blog-article">
        <img src="" alt="Article 2" />
        <p>Understanding Grief and Loss</p>
      </div>
      <div class="blog-article">
        <img src="" alt="Article 3" />
        <p>Building Mindfulness Practices</p>
      </div>
    </section> -->


  </div>

</div>